node_modules
.next
.git
.github
.env
.env.*
*.md
deploy/
coverage/
.vscode/
.idea/
*.log
*.err
docker-compose*.yml
.gitignore
.DS_Store
Thumbs.db
prisma/*.db
prisma/*.db-journal
.docker/
tests/
dev-server.*
*.swp
*.swo
