www.lorescryver.com {
    redir https://lorescryver.com{uri} permanent
}

lorescryver.com {
    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        Permissions-Policy "camera=(), microphone=(), geolocation=()"
    }

    encode gzip
    reverse_proxy app:3000
}
